

body {
  background-color: rgb(106, 210, 245);
}

h1 {
  color: white;
  text-align: left;
}

h3 {
    color: aliceblue;
}

img {
    width: 400px;
    height: 400px;
    align-content: center;
}
p {
  font-family: verdana;
  font-size: 20px;
}

a:hover {
  background-color: yellow;
  font-size: 18px;
}